apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ next_share_name }}-pvc
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ quota_gb }}Gi
  selector:
    matchLabels:
      storage: preprovisioned-pv
      pvname: {{ next_share_name }}
  storageClassName: {{ storageclass }}
  volumeName: {{ next_share_name }}-pv

